.form {
    max-height: 400px;
    background-color: #222261;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  input[type="date"]::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
  }
  .dropdown {
    margin: 10px;
  }
  .fa-solid{
    color: #222261;
  }
  .dropdown-toggle {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    font-weight: 600;
    color: black;
    border: white;
  }
  .dropdown .btn-custom {
    width: 200px;
    height: 50px;
    border-radius: 2px;
    border: none;
    background-color: #dc3545;
    text-align: center;
    font-size: medium;
    font-weight: 600;
  }
  
  .dropdown-toggle:focus {
    box-shadow: none !important;
  }
  
  .dropdown-toggle::after {
    display: none;
  }
  
  .dropdown-menu {
    width: 200px;
    border: 1px solid #222261;
    padding: 0rem 0;
    transform: translate3d(0px, 50px, 0px) !important;
  }
  .dropdown-item {
    display: block;
    width: 100%;
    padding: 12px;
  }
  
  .dropdown-item:focus,
  .dropdown-item:hover {
    color: #ffffff;
    background-color: #dc3545;
    padding: 12px;
  }
  .btn-recharge {
    width: 200px;
    height: 50px;
    border: white;
    border-radius: 5px;
    color: #ffffff;
    background-color: #dc3545;
    font-weight: 600;
  }